<footer class="footer">
    <div class="row">
        <div class="col l-6 m">
            <div class="row">
                <div class="footer-left col l-6">
                    <h3>THAM GIA BẢNG TIN CỦA CHÚNG TÔI</h3>
                    <div class="footer-left_left">
                        <input type="email"
                               placeholder="Nhập email của bạn"
                               class="footer-left-input" />
                        <i class="ti-email"></i>
                    </div>
                    <p class="footer-p">
                        ROUTINE CO,. LTD | Mã Số Thuế: 0106486365 | Văn Phòng: Tầng
                        10 Tòa Nhà IMC, 62 Trần Quang Khải, Phường Tân Định, Quận 1,
                        Tp.HCM
                    </p>
                    <ul class="footer-list">
                        <li class="footer-item">
                            <a href="" class="footer-item-link">FACEBOOK</a>
                        </li>
                        <li class="footer-item">
                            <a href="" class="footer-item-link">INSTAGRAM</a>
                        </li>
                    </ul>
                    <p class="footer-left-p">
                        <a href="">
                            <img src="https://routine.vn/media/wysiwyg/dang-ky-website-thuong-mai-dien-tu-1024x388-1024x388.png"
                                 alt="" />
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col l-6">
            <div class="row">
                <div class="footer-right col l-4">
                    <h4>CÔNG TY</h4>
                    <ul class="footer-right-list">
                        <li class="footer-right-item">
                            <a href="" class="footer-right-link">Giới thiệu về ROUTINE</a>
                        </li>
                        <li class="footer-right-item">
                            <a href="" class="footer-right-link">Tuyển dụng</a>
                        </li>
                        <li class="footer-right-item">
                            <a href="" class="footer-right-link">Tin tức</a>
                        </li>
                        <li class="footer-right-item">
                            <a href="" class="footer-right-link">Chăm sóc khách hàng</a>
                        </li>
                        <li class="footer-right-item">
                            <a href="" class="footer-right-link">Liên hệ</a>
                        </li>
                    </ul>
                </div>
                <div class="footer-right col l-4">
                    <h4>CHÍNH SÁCH KHÁCH HÀNG</h4>
                    <ul class="footer-right-list">
                        <li class="footer-right-item">
                            <a href="" class="footer-right-link">Chính sách khách hàng thân thiết</a>
                        </li>
                        <li class="footer-right-item">
                            <a href="" class="footer-right-link">Chính sách đổi và trả hàng</a>
                        </li>
                        <li class="footer-right-item">
                            <a href="" class="footer-right-link">Chính sách bảo hành</a>
                        </li>
                        <li class="footer-right-item">
                            <a href="" class="footer-right-link">Chính sách bảo mật</a>
                        </li>
                        <li class="footer-right-item">
                            <a href="" class="footer-right-link">Câu hỏi thường gặp</a>
                        </li>
                    </ul>
                </div>
                <div class="footer-right col l-4">
                    <h4>THÔNG TIN KHÁCH HÀNG</h4>
                    <ul class="footer-right-list">
                        <li class="footer-right-item">
                            <a href="" class="footer-right-link">- CỬA HÀNG THỨ 29</a>
                        </li>
                        <li class="footer-right-item">
                            <a href="" class="footer-right-link">24/8 lê văn việt, quận 9 TPHCM</a>
                        </li>
                        <li class="footer-right-item">
                            <a href="" class="footer-right-link">- CỬA HÀNG THỨ 28</a>
                        </li>
                        <li class="footer-right-item">
                            <a href="" class="footer-right-link">28 võ văn ngân,TP Thủ Đức TPHCM</a>
                        </li>
                        <li class="footer-right-item footer-right-item-mg">
                            <a href=""
                               class="footer-right-link footer-right-link-active">Xem tất cả các cửa hàng</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
