
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@section css
{
    <link rel="stylesheet" href="~/Asset/asserts/category.css" />
    <link rel="stylesheet" href="~/Asset/categorycss/category-pay.css" />
}

<section>
    <div class="container">
        <div class="top row">
            <p>TRANG CHỦ</p><span>&#8260;</span><p>DANH MỤC</p><span>&#8260;</span><p>ĐẦM NỮ</p>
        </div>
        <div class="img-main">
            <img src="https://file.hstatic.net/200000202027/file/5_style_with_jeans-01_ce87b99f337c4edeb0d4f1f19d17e71c.jpg" alt="">
        </div>
        <div class="between row">
            <div class="left">
                <div class="price">
                    <p><b>GIÁ SẢN PHẨM </b><span>&#8210;</span></p>
                    <form action="/action_page.php">
                        <input type="checkbox" name="vehicle1" value="duoi500">
                        <label for="vehicle1"> Dưới 500,000<u>đ</u></label><br><br>
                        <input type="checkbox" name="vehicle2" value="tren500">
                        <label for="vehicle2"> 500,000<u>đ</u> - 1,500,000<u>đ</u></label><br><br>
                        <input type="checkbox" name="vehicle3" value="tren1k" checked>
                        <label for="vehicle3"> 1,000,000<u>đ</u> - 1,500,000<u>đ</u></label><br><br>
                        <input type="checkbox" name="vehicle4" value="tren2k" checked>
                        <label for="vehicle4"> 2,000,000<u>đ</u> - 5,000,000<u>đ</u></label><br><br>
                        <input type="checkbox" name="vehicle5" value="tren5k" checked>
                        <label for="vehicle5"> Trên 5,000,000<u>đ</u></label><br>
                    </form>

                </div>

                <div class="size">
                    <p><b>KÍCH THƯỚC</b> <span>&#8210;</span></p>
                    <div class="so-size">
                        <span>S</span>
                        <span>M</span>
                        <span>L</span>
                        <span>XL</span>
                    </div>
                </div>
            </div>
            <div class=" right">
                <div class="right-top row">
                    <div class="name">
                        <h2>Đầm Nữ</h2>
                    </div>
                    <div class="name">
                        <select name="" id="">
                            <option value="">Sản phẩm nổi bật</option>
                            <option value="">Giá: Tăng dần</option>
                            <option value="">Giá: Giảm dần</option>
                            <option value="">Tên: A-Z</option>
                            <option value="">Tên: Z-A</option>
                            <option value="">Cũ nhất</option>
                            <option value="">Mới nhất</option>
                            <option value="">Bán chạy nhất</option>
                            <option value="">Tồn kho: giảm dần</option>

                        </select>
                    </div>
                </div>
                <div class="content row">
                    <a href="@Url.Action("Details" , new { id =1 })" class="hihihii">
                        <div class="content-item content-item-active">
                            <img src="https://pubcdn.ivymoda.com/files/product/thumab/400/2021/11/17/7fbe10f8e0bf159b5e7c68ba8176e0c8.JPG" alt="">
                            <h1>ALICIA DRESS</h1>
                            <div class="div" style="display: flex; justify-content: center;margin-top: 10px;">
                                <p class="price-sale" style="text-decoration: line-through;margin-right: 10px;">800.000<u>đ</u></p>
                                <p>256.000<u>đ</u></p>

                            </div>
                            <div class="sale-div"> SALE</div>
                        </div>
                    </a>
                    <a href="@Url.Action("Details" , new { id =1 })" class="hihihii">
                        <div class="content-item content-item-active">
                            <img src="https://pubcdn.ivymoda.com/files/product/thumab/400/2021/10/22/3c857031bcc4785a9ec44d3a708a5393.JPG" alt="">
                            <h1>ALICIA DRESS</h1>
                            <div class="div" style="display: flex; justify-content: center;margin-top: 10px;">
                                <p class="price-sale" style="text-decoration: line-through;margin-right: 10px;">756.000<u>đ</u></p>
                                <p>355.000<u>đ</u></p>

                            </div>
                            <div class="sale-div"> SALE</div>
                        </div>
                    </a>
                    <a href="./product.html" class="hihihii">
                        <div class="content-item content-item-active">
                            <img src="https://pubcdn.ivymoda.com/files/product/thumab/400/2021/10/26/8576694138547113a41e7b4df6e7c98d.JPG" alt="">
                            <h1>ALICIA DRESS</h1>
                            <div class="div" style="display: flex; justify-content: center;margin-top: 10px;">
                                <p class="price-sale" style="text-decoration: line-through;margin-right: 10px;">1.560.000<u>đ</u></p>
                                <p>1.256.000<u>đ</u></p>

                            </div>
                            <div class="sale-div"> SALE</div>
                        </div>
                    </a>
                    <a href="./product.html" class="hihihii">
                        <div class="content-item content-item-active">
                            <img src="https://pubcdn.ivymoda.com/files/product/thumab/400/2021/11/10/940eec093914fb8d53f8d58712e14d1c.JPG" alt="">
                            <h1>ALICIA DRESS</h1>
                            <div class="div" style="display: flex; justify-content: center;margin-top: 10px;">
                                <p class="price-sale" style="text-decoration: line-through;margin-right: 10px;">550.000<u>đ</u></p>
                                <p>249.000<u>đ</u></p>

                            </div>
                            <div class="sale-div"> SALE</div>
                        </div>
                    </a>
                    <a href="./product.html" class="hihihii">
                        <div class="content-item content-item-active">
                            <img src="https://pubcdn.ivymoda.com/files/product/thumab/400/2021/06/21/aa8d299269938b71c9ed4cbc4f2d86da.JPG" alt="">
                            <h1>ALICIA DRESS</h1>
                            <div class="div" style="display: flex; justify-content: center;margin-top: 10px;">
                                <p class="price-sale" style="text-decoration: line-through;margin-right: 10px;">650.000<u>đ</u></p>
                                <p>346.000<u>đ</u></p>

                            </div>
                            <div class="sale-div"> SALE</div>
                        </div>
                    </a>
                    <a href="./product.html" class="hihihii">
                        <div class="content-item content-item-active">
                            <img src="https://pubcdn.ivymoda.com/files/product/thumab/400/2021/11/11/73dfb06d6f5fb12af7eb6471bd491ade.JPG" alt="">
                            <h1>ALICIA DRESS</h1>
                            <div class="div" style="display: flex; justify-content: center;margin-top: 10px;">
                                <p class="price-sale" style="text-decoration: line-through;margin-right: 10px;">470.000<u>đ</u></p>
                                <p>299.000<u>đ</u></p>

                            </div>
                            <div class="sale-div"> SALE</div>
                        </div>
                    </a>
                    <a href="./product.html" class="hihihii">
                        <div class="content-item content-item-active">
                            <img src="https://pubcdn.ivymoda.com/files/product/thumab/400/2021/11/17/748085618a706c45199555db9f19fa24.JPG" alt="">
                            <h1>ALICIA DRESS</h1>
                            <div class="div" style="display: flex; justify-content: center;margin-top: 10px;">
                                <p class="price-sale" style="text-decoration: line-through;margin-right: 10px;">589.000<u>đ</u></p>
                                <p>449.000<u>đ</u></p>

                            </div>
                            <div class="sale-div"> SALE</div>
                        </div>
                    </a>
                    <a href="./product.html" class="hihihii">
                        <div class="content-item content-item-active">
                            <img src="https://pubcdn.ivymoda.com/files/product/thumab/400/2021/06/21/cfaef84a52ba8c2af559e65d27820038.JPG" alt="">
                            <h1>ALICIA DRESS</h1>
                            <div class="div" style="display: flex; justify-content: center;margin-top: 10px;">
                                <p class="price-sale" style="text-decoration: line-through;margin-right: 10px;">389.000<u>đ</u></p>
                                <p>199.000<u>đ</u></p>

                            </div>
                            <div class="sale-div"> SALE</div>
                        </div>
                    </a>
                    <a href="./product.html" class="hihihii">
                        <div class="content-item content-item-active">
                            <img src="https://pubcdn.ivymoda.com/files/product/thumab/400/2021/11/17/7fbe10f8e0bf159b5e7c68ba8176e0c8.JPG" alt="">
                            <h1>ALICIA DRESS</h1>
                            <div class="div" style="display: flex; justify-content: center;margin-top: 10px;">
                                <p class="price-sale" style="text-decoration: line-through;margin-right: 10px;">450.000<u>đ</u></p>
                                <p>299.000<u>đ</u></p>

                            </div>
                            <div class="sale-div"> SALE</div>
                        </div>
                    </a>
                    <a href="./product.html">
                        <div class="content-item">
                            <img src="https://pubcdn.ivymoda.com/files/product/thumab/400/2021/11/17/748085618a706c45199555db9f19fa24.JPG" alt="">
                            <h1>ANNIE DRESS</h1>
                            <p>230,000<u>đ</u></p>
                        </div>
                    </a>
                    <a href="./product.html">
                        <div class="content-item">
                            <img src="https://pubcdn.ivymoda.com/files/product/thumab/400/2021/11/17/b204ec9015051ff36fe614c8b720c912.JPG" alt="">
                            <h1>TWEED ELLA JACKET</h1>
                            <p>300,000<u>đ</u></p>
                        </div>
                    </a>
                    <a href="./product.html">
                        <div class="content-item">
                            <img src="https://pubcdn.ivymoda.com/files/product/thumab/400/2021/11/17/4fd27142e6cd1f40f71cf6cd4b1f229a.JPG" alt="">
                            <h1>BILLIE SKIRT</h1>
                            <p>130,000<u>đ</u></p>
                        </div>
                    </a>
                    <a href="./product.html">
                        <div class="content-item">
                            <img src="https://pubcdn.ivymoda.com/files/product/thumab/400/2021/10/22/3c857031bcc4785a9ec44d3a708a5393.JPG" alt="">
                            <h1>BUBY DRESS</h1>
                            <p>240,000<u>đ</u></p>
                        </div>
                    </a>
                    <a href="./product.html">
                        <div class="content-item">
                            <img src="https://pubcdn.ivymoda.com/files/product/thumab/400/2021/06/21/cfaef84a52ba8c2af559e65d27820038.JPG" alt="">
                            <h1>CARO BASIC SKIRT</h1>
                            <p>184,000<u>đ</u></p>
                        </div>
                    </a>
                    <a href="./product.html">
                        <div class="content-item">
                            <img src="https://pubcdn.ivymoda.com/files/product/thumab/400/2021/06/21/aa8d299269938b71c9ed4cbc4f2d86da.JPG" alt="">
                            <h1>CARO V SKIRT</h1>
                            <p>176,000<u>đ</u></p>
                        </div>
                    </a>
                    <a href="./product.html">
                        <div class="content-item">
                            <img src="https://pubcdn.ivymoda.com/files/product/thumab/400/2021/10/22/937272d8502d53ecfaf89b50cb03864c.JPG" alt="">
                            <h1>CAROLL DRESS</h1>
                            <p>256,000<u>đ</u></p>
                        </div>
                    </a>
                    <a href="./product.html">
                        <div class="content-item">
                            <img src="https://pubcdn.ivymoda.com/files/product/thumab/400/2021/11/10/940eec093914fb8d53f8d58712e14d1c.JPG" alt="">
                            <h1>CHARLICE DRESS</h1>
                            <p>256,000<u>đ</u></p>
                        </div>
                    </a>
                    <a href="./product.html">
                        <div class="content-item">
                            <img src="https://pubcdn.ivymoda.com/files/product/thumab/400/2021/10/22/b95e05048d7d6114419c090bb226539a.JPG" alt="">
                            <h1>CYCLAMEN DRESS</h1>
                            <p>360,000<u>đ</u></p>
                        </div>
                    </a>
                    <a href="./product.html">
                        <div class="content-item">
                            <img src="https://pubcdn.ivymoda.com/files/product/thumab/400/2021/11/11/73dfb06d6f5fb12af7eb6471bd491ade.JPG" alt="">
                            <h1>DOMINIC DRESS</h1>
                            <p>360,000<u>đ</u></p>
                        </div>
                    </a>
                    <a href="./product.html">
                        <div class="content-item">
                            <img src="https://pubcdn.ivymoda.com/files/product/thumab/400/2021/10/26/8576694138547113a41e7b4df6e7c98d.JPG" alt="">
                            <h1>ELLA DRESS</h1>
                            <p>273,000<u>đ</u></p>
                        </div>
                    </a>

                </div>
            </div>
        </div> -->
        <!-- endtest -->
        <div class="row list-inline" style="padding: 0; display: flex; justify-content: center;width: 100%;">
            <ul class="pagination">
                <li class="pagination-item pagination-item-active">
                    <a href="#">
                        <span>1</span>
                    </a>
                </li>
                <li class="pagination-item">
                    <a href="#">
                        <span>2</span>
                    </a>
                </li>
                <li class="pagination-item">
                    <a href="#">
                        <span>3</span>
                    </a>
                </li>
                <li class="pagination-item">
                    <a href="#">
                        <span>...</span>
                    </a>
                </li>
                <li class="pagination-item">
                    <a href="#">
                        <span>
                            24
                        </span>
                    </a>
                </li>
                <li class="pagination-item">
                    <a href="#">
                        <span>
                            <i class="fa fa-arrow-right" aria-hidden="true"></i>
                        </span>
                    </a>
                </li>
            </ul>


        </div>

    </div>

    </div>
    <div class="bottom">

    </div>
    </div>
</section>

<div class="delete-cart animate__animated animate__fadeInBottomRight">
    <button class="del-cart">Xóa</button>
    <button class="edit-cart">sửa</button>
</div>

<script src="~/Asset/js/home.js"></script>


