
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_MainLayoutAdmin.cshtml";
}


<div class="col-md-9">
    <div class="sort-by d-flex mt-5 justify-content-between">
        <span style="font-size: 28px;"> CHỈNH SỬA THÔNG TIN NHÀ SẢN XUẤT</span>
        <div class="icon" style="margin-right: 10px; cursor: pointer; opacity: 0.8;">
            <i class="fad fa-plus mx-3"></i>
            <i class="fas fa-trash-alt"></i>
        </div>
    </div>
    <div class="div-edit my-3" style="height: 400px;display: block; overflow-y: auto;">
        @using (Html.BeginForm("Create", "SanPhamAdmin", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
        <div class="div-edit my-3" style="height: 400px;display: block; overflow-y: auto;">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" name="MaSanPham" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">mã Sản phẩm</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" name="TenSanPham" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Tên Sản phẩm</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" name="Gia" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Giá Sản Phẩm</label>
            </div>

            <div class="form-floating mb-3">
                <input type="text" class="form-control" name="HinhChinh" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Ảnh sản phẩm</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" name="Hinh1" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Nhóm ảnh 1</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" name="Hinh2" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Nhóm ảnh 2</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" name="Hinh3" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Nhóm ảnh 3</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" name="Hinh4" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Nhóm ảnh 4</label>
            </div>
            <div class="form-floating mb-3">
                <select name="TinhTrang" class="browser-default custom-select py-2 bg-white" style="width: 100%;" required>
                    <option selected value="0">Chưa khóa</option>
                    <option value="1">Đã Khóa</option>
                </select>
            </div>
            <span style="font-size: 16px;color: #222; font-weight: 500;">Chi tiết sản phẩm:</span>
            <div class="form-outline">

                <textarea class="form-control" id="textAreaExample1" rows="8"></textarea>
                <label class="form-label" for="textAreaExample"></label>
            </div>


        </div>
                <button type="submit" class="btn btn-primary btn-rounded">Thêm sản phẩm</button>
        }



    </div>

</div>

<script src="~/Areas/AssetAdmin/ckeditor/ckeditor.js"></script>
<script>
      CKEDITOR.replace('textAreaExample1');
</script>


